.loginHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 1.1em;
    height: 120px;
}

.login-header-container {
    width: 1200px;

    display: flex;
    align-items: center;
    padding-left: 25px;
}

.header-left-box {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
}


.right-section {
    display: flex;
    align-items: center;
}

.right-section-login {
    margin: 0 5px;
}

.right-section p {
    color: #000000;
    margin: 0 5px;
}

.right-section a {
    color: #000000;
    text-decoration: none;
}

.right-section-login:hover {
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
}
