.event-container {
    width: 85%;
    margin: 10px auto;
    padding: 20px;
    background-color: #f0f0f0; /* 컨테이너에 배경색 추가 */
    border-radius: 8px; /* 둥근 모서리 추가 */
}

.news-item {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #ffffff; /* 그리드 항목 배경색 */
    border: 1px solid #ddd; /* 경계 추가 */
    border-radius: 8px; /* 둥근 모서리 추가 */
    margin-bottom: 20px; /* 항목 간의 간격 추가 */
}

.news-image-container {
    width: 200px; /* 이미지 크기 키우기 */
    height: 200px; /* 이미지 크기 키우기 */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.news-content h6 {
    margin: 0;
    font-size: 1.8em; /* 텍스트 크기 키우기 */
    font-weight: bold; /* 글씨 두께 키우기 */
}

.news-content p {
    margin: 10px 0;
    font-size: 1em; /* 텍스트 크기 줄이기 */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* 표시할 라인 수 조절 */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.detail-button {
    margin-top: auto; /* 버튼을 아래로 내리기 위해 추가 */
    align-self: flex-end; /* 오른쪽 상단에 버튼 위치 */
    font-size: 0.9em !important; /* 텍스트 크기 약간 키우기 */
    text-decoration: none;
}

.detail-button:hover {
    text-decoration: underline;
    background: none;
}

.event-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.event-pagination button {
    background-color: #ddd; /* 기본 컬러 */
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    color: #000; /* 기본 텍스트 색상 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 부드러운 전환 효과 */
}

.event-pagination button:hover {
    background-color: #f7a201; /* hover 시의 색상 */
    color: #fff; /* hover 시의 텍스트 색상 */
}

.event-pagination button.active {
    background-color: #007bff;
    color: white;
}

.event-pagination button.active:hover {
    background-color: #f7a201; /* hover 시의 색상 */
    color: #fff; /* hover 시의 텍스트 색상 */
}
