/* LikedBoards.css */

.likedboards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.likedboards-header {
  background-color: #086c9e;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.likedboards-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.likedboards-card {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
  padding: 20px;
}

.likedboards-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.likedboards-card-header {
  background-color: #086c9e;
  color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.likedboards-card-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.likedboards-card-body p {
  margin: 10px 0;
  font-size: 18px;
}

.likedboards-card-body p strong {
  font-weight: bold;
  color: #333;
}

.no-likedboards-message {
  font-size: 18px;
  color: #777;
  text-align: center;
}
