/* 댓글목록 */
.mycomment-comment-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    transition: transform 0.2s;
  }
  
  .mycomment-comment-card:hover {
    transform: translateY(-5px);
  }
  
  .mycomment-comment-header {
    background-color: #333;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
  }
  
  .mycomment-comment-content {
    padding: 10px;
  }
  
  .mycomment-comment-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .mycomment-comment-row span {
    font-weight: bold;
  }
  