/* MyPage.css */
.my-page-container {
  display: flex;
}

.sidebar {
  width: 250px;
  /* 사이드바 너비 조정 */
}

.my-page-content {
  flex: 1;
  padding: 20px;
  /* 콘텐츠 패딩 조정 */
}

.mypage-section {
  margin: 20px;
}

.mypage-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.mypage-table th, .mypage-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.mypage-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: black;
}

.mypage-table tr:hover {
  background-color: #ddd;
}

.mypage-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

