.sidebar-container {
  width: 230px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}

.sidebar-container ul {
  list-style: none;
  padding: 0;
}

.sidebar-container li {
  margin: 14px 0;
  cursor: pointer;
  font-weight: 600;
}

.sidebar-container li:hover {
  background-color: #ddd;
}