/* BoardList.css */
.categoty-main-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.board-list-container {
  display: flex;
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px;
}

.board-list {
  width: 20%;
  padding-right: 20px;
}

.category-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-item {
  list-style: none;
  padding: 10px 0;
  cursor: pointer;
}

.category-item:hover {
  background-color: #f0f0f0;
}

.board-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: left; /* 중앙 정렬에서 왼쪽 정렬로 변경 */
  width: 100%; /* 전체 너비를 사용하여 왼쪽으로 정렬 */
  padding-left: 10px; /* 왼쪽 여백 추가 */
}

.search-sort-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff; /* 흰색 배경 */
  border-radius: 8px; /* 둥근 모서리 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  padding: 10px; /* 패딩 추가 */
  margin-bottom: 20px;
}


.search-options option select,
.sort-container option select {
  border-radius: 0px; /* 둥근 모서리 제거 */
}

.search-box {
  display: flex;
  align-items: center;
}

.search-options {
  display: flex;
  align-items: center;
}

.search-option {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

.board-search-input {
  width: 220px; /* 검색창 크기 조정 */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  height: 40px; /* 높이 조정 */
}

.search-button {
  padding: 10px 20px;
  background-color: #f2ae36;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #f7a201;
}

.sort-options {
  display: flex;
  align-items: center;
}

.sort-option {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.table-header {
  display: flex;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px 0;
}

.table-header-item {
  text-align: center;
  font-size: 18px;
}

.table-header-item.table-cell-small {
  flex: 1;
}

.table-header-item.table-cell-medium {
  flex: 2;
}

.table-header-item.table-cell-large {
  flex: 4;
}

.board-table-container {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff; /* 백그라운드 색상 */
  border-radius: 8px; /* 둥근 모서리 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 */
  padding: 20px; /* 내부 여백 */
}

.table-row {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.table-cell {
  text-align: center;
  font-size: 18px;
}

.table-cell-small {
  flex: 1;
}

.table-cell-medium {
  flex: 2;
}

.table-cell-large {
  flex: 4;
}

.board-link {
  text-decoration: none;
  color: #333;
}

.board-title-container {
  font-size: 18px;
  display: flex;
  align-items: center; /* 아이콘과 텍스트 수직 정렬 */
}

.comment-count {
  font-size: 16px;
}

.picon {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.pagination-create-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination-info {
  margin: 0 10px;
}

.pagination-button {
  padding: 10px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 2px;
}

.pagination-button.active {
  background-color: #ffa500;
  color: #fff;
  border-color: #ffa500;
}

.pagination-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: #f7a201;
}

.create-button-container {
  display: flex;
  align-items: center;
}

.board-create-button {
  padding: 10px 20px;
  background-color: #f2ae36;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.board-create-button:hover {
  background-color: #f7a201;
}

.login-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 높은 우선순위 설정 */
}

.login-dialog-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1001; /* 높은 우선순위 설정 */
}

.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f2ae36;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #f7a201;
}

/* board-icon 추가 7-14 8:36 */
.image-box-light-icon {
  width: 25px;
  height: 25px;
  margin-left: 10px; /* 아이콘과 텍스트 사이 여백 */
  margin-right: 5px;
}
